* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --box-color: rgba(74, 9, 87, 0.767);
  --text-box-color: white;
  --translucent-color: rgba(255, 255, 255, 0.39);
  /* some color values  1d574a FA7268 3a1b6a*/
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
  }

.container {
    max-width: calc(1100 / 16 * 1rem);
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}

  ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}
/* sign-in and sign-up */
.sign-grid-main{
  display: grid;
  grid-template-columns: 10vw 23rem auto;
  grid-template-rows: 30vh 40vh 100px;
  row-gap: 3;
  gap: 20px;
  background-image: url(./images/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.sign-header {
  grid-column: 3;
  text-align: center;
  margin: 50px;
  font-size: xx-large;
  color: whitesmoke;
}

.sign-header > h1 {
  text-shadow: -3px 6px black;
  margin-bottom: 20px;
}

.sign-grid {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--box-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--text-box-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sign-grid-form {
  margin-top: 12px;
  text-align: center;
  position: relative;
}

.sign-label-input {
  text-align: left;
  text-indent: 35px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 10px;
  padding: 6px 0;
  width: 70%;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  border-width: 0;
}
.sign-button {
  margin-top: 1.4rem;
  padding: 12px 20px;
  border-radius: 20px;
  color: var(--text-box-color);
  background-color: var(--translucent-color);
}
.sign-input-icon {
  position: absolute;
  margin-left: 10px ;
  transform: translateY(15px);
}


.sign-alt {
  margin: 0 auto;
}
.sign-alt-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}

.sign-alt-icons > a {
  margin-top: 0px;
  background-color: white;
  width: 20px;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 50%;
}
.sign-img {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center ;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(10%);
}
/* footer */
.footer {
  border-top: 2px solid black;
  display: grid;
  grid-template-columns: 60vw 20vw 20vw;
  grid-template-rows: 250px;
  background-color: rgb(29, 6, 54);
  color: white;
}
.footer-1 {
  grid-column: 2;
}
.footer-2 {
  grid-column: 3;
}