* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-color: rgba(74, 9, 87, 0.767);
    --text-box-color: white;
    --translucent-color: rgba(255, 255, 255, 0.39);
    /* some color values  1d574a FA7268 3a1b6a*/
  }


html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

body {
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 50px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

  .sign-in-btn{
    background-color: white;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    margin: 0 auto;
    color: blue;
    border-color: blue;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

  .free-btn{
    background-color: blue;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    margin: 0 auto;
    border: none;
    font-size: 1rem;
}

/* hero opener for main page and how-it-works */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.top-landing {
    padding:50px;
}

.top-landing h1 {
    font-size: 44px;
    letter-spacing: 1px;
}

.top-landing h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
}

.focus-btns {
    margin-top: 1rem;
}

.signup-btn {
    padding: 6px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 0.5rem;
    background-color: white;
    height: 50px;
    width: 25%;
    font-weight: bold;
    color: blue;

}

.chat-btn {
    padding: 6px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 0.5rem;
    background-color: blue;
    height: 50px;
    width: 25%;
    font-weight: 600;
    color: white;
}

.sign-in-paragraph {
    margin-top: 0.5rem;
    font-size: 12px;
    margin-left: 0.5rem;
}

p a {
    font-weight: 600;
    text-decoration: none;

}

p a:hover {
    color: red;
}

.trial-bullet-pt {
    list-style: none;
    margin-top: 0.5rem;
}

.trial-bullet-pt li {
    display: inline-block;
    padding: 0.25rem;
    font-size: 12px;
    margin-top: 0.25rem;
}

.trial-bullet-pt li:first-of-type {
    list-style: none;
}

.trial-bullet-pt li::before {
    content: "\2022";
    color: blue;
    font-size: 12px;
    font-weight: bold;
    width: 1em;
}

/* bubbles on header */
.aside-bubbles {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    gap: 1rem;
}

.bubbles-all {
    background-color: blue;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 3rem;
    box-shadow: 1px 1px 10px 1px gray;
    color: white;
    font-weight: 600;
}

.bubbles-all:nth-of-type(3n - 1) {
    background-color: lightgray;
}

/* each bubble-border */
.bubble-1 {
    border-top-left-radius: 50%;
}

.bubble-2 {
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bubble-3 {
    border-top-right-radius: 50%;
}

.bubble-4 {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.bubble-5 {
    border-radius: 50%;
}

.bubble-6 {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.bubble-7 {
    border-bottom-left-radius: 50%;
}

.bubble-8 {
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bubble-9 {
    border-bottom-right-radius: 50%;
}

.lil-border {
    border: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 300px 0 300px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

.middle-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

.explore-sec {
    text-align: center;
    margin: 5rem;
}

.explore-sec h1 {
    font-weight: 500;
    word-spacing: 2px;
    font-size: 26px;
}

.explore-sec p {
    margin-top: 10px;
    font-size: 16px;
}

.start-to-explore-boxes {
    display: flex;
    justify-content: center;

}


.explore-box {
    background-color: white;
    border-radius: 5%;
    height: 150px;
    width: 140px;
    margin-top: 3rem;
    margin-right: 40px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer; 
}

.explore-box p {
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}

.explore-box img {
    margin-top: 30px;

}


.accept-payment-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.accept-payment-card {
    background-color: rgba(8, 8, 252, 0.835);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 500px;
}

.accept-payment-box img {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    border-radius: 10px;
    height: 500px;
}

.accept-payment-card h1 {
    font-size: 24px;
    margin: 30px;
}

.accept-payment-card p {
    margin: 30px;
    font-size: 16px;
}
.accept-payment {
    margin: 25px;
    font-size: 13px;
    margin-left: 50px;
}

.learn-more-btn {
    padding: 7px;
    font-size: 16px;
    border-radius: 0.5rem;
    background-color: white;
    height: 50px;
    width: 200px;
    font-weight: 600;
    color: blue;
    border: none;
    margin-left: 50px;
}

/* sign-in and sign-up */
.sign-grid-main{
  display: grid;
  grid-template-columns: 10vw 23rem auto;
  grid-template-rows: 20vh 30vh 40vh 10vh;
  row-gap: 3;
  gap: 20px;
  background-image: url(./images/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  overflow: hidden;
}



.solutions-header {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    word-spacing: 1px;
}


.solutions-circle-content {
    display: inline-block;
    position: relative;
    text-align: center;
    align-self: center;
    align-items: center;
    margin: 20px;

}

.bottom-sec {
    text-align: center;
}

.solutions-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    margin-left: 100px;
    margin-bottom: 20px;
}


.solutions-learn-more-btn {
    padding: 7px;
    font-size: 16px;
    border-radius: 0.5rem;
    background-color: white;
    height: 50px;
    width: 200px;
    font-weight: 600;
    color: blue;
    border: 2px solid blue;
    margin-top: 20px;
}


/* .footer{
    background-color: blue;
    color: white;
    text-align: center;
}

footer h1{
    font-size: 42px;
    margin: 10px;
}

footer h3{
    margin: 10px;
}

.get-started-btn{
    background-color: lightgreen;
    color: white;
    padding: 7px;
    font-size: 14px;
    border-radius: 0.5rem;
    height: 50px;
    width: 200px;
    font-weight: 600;
} */

.sign-header-logo {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  margin: auto;
  object-fit: cover;
  max-height: max-content ;
  
}

.sign-img {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center ;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(10%);
}

.sign-grid {
  grid-column: 2;
  grid-row: 3;
  background-color: var(--box-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: var(--text-box-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sign-grid-form {
  margin-top: 12px;
  text-align: center;
  position: relative;
}

.sign-label-input {
  text-align: left;
  text-indent: 35px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 10px;
  padding: 6px 0;
  width: 70%;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  border-width: 0;
}

.sign-button {
  margin-top: 1.4rem;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: none;
  color: black;
  font-weight: 600;
  font-size: medium;
  background-color: white;
}

.sign-button:hover {
  filter: invert(100%);
  transition: .3s;
}

.sign-input-icon {
  position: absolute;
  margin-left: 10px ;
  transform: translateY(15px);
}

.sign-alt {
  margin: 0 auto;
}

.sign-alt a, .sign-grid-form a {
  text-decoration: none;
  color: red;
}

.sign-in-btn a {
  text-decoration: none;
}

.sign-alt-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
}

.sign-alt-icons > a {
  margin-top: 0px;
  background-color: lightgrey;
  width: 20px;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 50%;
}

.sign-alt-icons > a:hover {
  background-color: white;
  box-shadow: 0px 0px 2px 1px black;
  transition: .3s ease-in-out;
}


/* footer */
.footer {
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 60vw 20vw 20vw;
    grid-template-rows: 250px;
    background-color: rgb(29, 6, 54);
    color: white;
}

.footer-1 {
  grid-column: 2;
  font-size: small;
  margin-top: 1rem;
}

.footer-1 > p {
  padding-top: 2rem;
}

.footer-2 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}