
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
  }

.container {
    max-width: calc(1100 / 16 * 1rem);
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }
